<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Best Finance</title>
    <base th:href="@{/}" href="/bestfinance/"/>
    <link rel="stylesheet" href="static/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="static/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="static/css/mystyle.css" type="text/css" />
</head>

<body>
<!-- Image and text -->
<div id="header" th:include="header :: header"></div>

<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<div id="body">
    <section id="content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="container text-center">
                    <form class="form-signin" method="post" action="product?method=updateProduct">
                        <center><h2 class="form-signin-heading">Update Product</h2></center>
                        <label for="productid" class="dark">Product Id</label>
                        <input type="hidden" name="productid" th:value="${product.productid}"/>
                        <input name="productid" th:value="${product.productid}" disabled type="text" id="productid" class="form-control" placeholder="productId" required="" autofocus="">
                        <label for="name" class="dark">Product Name</label>
                        <input th:value="${product.name}" name="name" type="text" id="name" class="form-control" placeholder="Product Name" required="">
                        <label for="price" class="dark">Price</label>
                        <input th:value="${product.price}" name="price" type="text" id="price" class="form-control" placeholder="Price" required="">
                        <label for="image" class="dark">Price</label>
                        <input th:value="${product.image}" name="image" type="text" id="image" class="form-control" placeholder="Image" required="">
                        <div class="form-group">
                            <label for="type" class="dark">manufacturer</label>
                            <div class="col-xs-5 selectContainer">
                                <select class="form-control" name="manufacturer" id="manufacturer">
                                    <option th:text="${product.manufacturer}">Choose a type</option>
                                    i                                    <option value="PersonalLoans">Personal Loans</option>
                                    <option value="BussinessLoans">Business Loans</option>
                                    <option value="StudentLoans">Student Loans</option>
                                    <option value="LifeInsurance">Life Insurance</option>
                                    <option value="HealthInsurance">Health Insurance</option>
                                    <option value="Stocks">Stocks</option>
                                    <option value="Cryptocurrency">Cryptocurrency</option>
                                </select>
                            </div>
                        </div>
                        <label for="creditscore" class="dark">creditscore</label>
                        <input th:value="${product.creditscore}" name="creditscore" type="text" id="creditscore" class="form-control" placeholder="creditscore" required="">
                        <label for="loanamount" class="dark">loanamount</label>
                        <input th:value="${product.loanamount}" name="loanamount" type="text" id="loanamount" class="form-control" placeholder="loanamount" required="">
                        <label for="rating" class="dark">Rating</label>
                        <input th:value="${product.rating}" name="rating" type="text" id="rating" class="form-control" placeholder="rating" required="">
                        <label for="quantity" class="dark">Quantity</label>
                        <input th:value="${product.quantity}" name="quantity" type="text" id="quantity" class="form-control" placeholder="Quantity" required="">
                        <div class="form-group">
                            <label for="type" class="dark">Type</label>
                            <div class="col-xs-5 selectContainer">
                                <select class="form-control" name="type" id="type">
                                    <option th:text="${product.type}">Choose a type</option>
                                    <option value="Loans">Loans</option>
                                    <option value="Investments">Investments</option>
                                    <option value="Insurances">Insurances</option>
                                </select>
                            </div>
                        </div>
                        <button class='btn btn-lg btn-outline-dark' type='submit'>Update Product</button>
                        <a class='btn btn-lg btn-outline-dark' role='button' th:href="@{/product(method='deleteProduct',id=${product.productid})}">Delete Product</a>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </section>
</div>
<style>
    .sidebar h4 {
        padding-bottom: 0;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        padding: 7px 7px;
        /*background-color: #343a40 !important;*/
        background-color: darkblue !important;
        text-align: center;
        border-radius: 15px;
    }
    a {
        color: #212529;
        background-color: transparent;
    }
    .sidebar ul {
        width: 250px;
    }
    .sidebar li ul li a:active {
        background-color: #007bff;
        border-radius: 20px;
    }
    .sidebar li ul li a:hover {
        background-color: lightblue;
        border-radius: 20px;
    }
</style>
<div id="left" th:include="left :: left"></div>

<div id="footer" th:include="footer :: footer"></div>

<script src="static/script/jquery.min.js"></script>
<script src="static/script/bootstrap.min.js"></script>
<script type="text/javascript">
    $('.carousel').carousel();
    $("select#delivery").change(function(){
        if ($(this).val() === '1') {
            $("#picklocation").prop("hidden","")
        } else {
            $("#picklocation").attr("hidden","hidden")
        }
    });
</script>

</body>

</html>

